@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #343541;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    border-bottom: 1px solid #5c5c66;
    height: 45px;
}

.header h3{
    font-size: 17px;
    font-weight: 500;
}

.container{
    max-width: 920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 20;
}

.info a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.info a:hover{
    color: #4caf50;
}

.input-container{
    background-color: #343541;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #5c5c66;
    position: sticky;
    bottom: 0;
}

#user-input{
    background-color: #40414f;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px;
    flex: 9;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
}

#user-input::placeholder{
    color: #8e8e8e;
    font-weight: 400;
}

#send-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
}

#send-button:hover{
    background-color: #388e3c;
}

.chat-container{
    flex: 1;
}

.chat-box{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

#chat-log{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.6;
}

#chat-log i{
    margin-right: 10px;
    color: #fff;
    border-radius: 5px;
}

.bot, .user{
    display: flex;
    align-items: flex-start;
    color: #eee;
    width: 100%;
    padding: 15px 7px 15px 10px;
    border-radius: 6px;
}

.bot{
    background-color: #444654;
}

#chat-log #user-icon i{
    background-color: #19c37d;
    padding: 10px 11px;
}

#chat-log #bot-icon i{
    background-color: #9859b7;
    padding: 10px 8px 11px;
}